

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" 
integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" 
crossorigin="anonymous" referrerpolicy="no-referrer" />

<section class="title">
    <h1>Control de Temperatura y Humendad </h1>
 </section>
 
  <section class="button-container">
    <button class="btn-1" (click)="irAtemperatura()"> Temperatura <i class="fa-solid fa-temperature-low"></i></button>

    <button class="btn-2" (click)="irAhumedad()">Humedad <i class="fa-solid fa-droplet"></i></button>
  </section>

  


<app-root></app-root>
